<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for MediaAlbum</h1>

<f:flashMessages />

<table  class="tx_fsmediagallery" >
	<tr>
		<th><f:translate key="tx_fsmediagallery_domain_model_mediaalbum.title" /></th>
		<th><f:translate key="tx_fsmediagallery_domain_model_mediaalbum.webdescription" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{mediaAlbums}" as="mediaAlbum">
		<tr>
			<td><f:link.action action="show" arguments="{mediaAlbum : mediaAlbum}"> {mediaAlbum.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{mediaAlbum : mediaAlbum}"> {mediaAlbum.webdescription}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{mediaAlbum : mediaAlbum}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{mediaAlbum : mediaAlbum}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New MediaAlbum</f:link.action>
</f:section>