<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
	 xmlns:mf="http://typo3.org/ns/MiniFranske/FsMediaGallery/ViewHelpers">

	<!--
	 Displays an album list
	-->

	<f:section name="AlbumsList">
		<mf:widget.paginate objects="{mediaAlbums}" as="paginatedAlbums" configuration="{itemsPerPage: settings.list.itemsPerPage, insertAbove: settings.pagination.insertAbove, insertBelow: settings.pagination.insertBelow, maximumNumberOfLinks: settings.pagination.maximumNumberOfLinks, pagesBefore: settings.pagination.pagesBefore, pagesAfter:settings.pagination.pagesAfter}">
			<f:if condition="{paginatedAlbums}">
				<f:then>
					<div class="thumbs clearfix">
						<f:for each="{paginatedAlbums}" as="mediaAlbum">
							<f:render partial="MediaAlbum/Thumb" section="Thumb" arguments="{mediaAlbum:mediaAlbum,width:settings.list.thumb.width,height:settings.list.thumb.height}" />
						</f:for>
					</div>
				</f:then>
				<f:else>
					<div class="alert alert-info">
						<p><f:translate key="no_albums_found">No albums found.</f:translate></p>
					</div>
				</f:else>
			</f:if>
		</mf:widget.paginate>
	</f:section>

</div>