{namespace mf=MiniFranske\FsMediaGallery\ViewHelpers}
<mf:widget.paginate objects="{mediaAlbums}" as="paginatedAlbums" configuration="{itemsPerPage: settings.list.itemsPerPage, insertAbove: settings.pagination.insertAbove, insertBelow: settings.pagination.insertBelow, maximumNumberOfLinks: settings.pagination.maximumNumberOfLinks, pagesBefore: settings.pagination.pagesBefore, pagesAfter:settings.pagination.pagesAfter}">
	<f:if condition="{paginatedAlbums}">
		<f:then>
			<f:for each="{paginatedAlbums}" as="mediaAlbum">
				<f:render partial="MediaAlbum/Thumb" arguments="{mediaAlbum:mediaAlbum}" />
			</f:for>
		</f:then>
		<f:else>
			<div class="alert alert-info">
				<p><f:translate key="no_albums_found">No items found</f:translate></p>
			</div>
		</f:else>
	</f:if>

</mf:widget.paginate>