<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
	 xmlns:mf="http://typo3.org/ns/MiniFranske/FsMediaGallery/ViewHelpers">

<f:layout name="Default" />

<f:section name="main">
	<f:flashMessages />
	<div class="gallery">
		<mf:widget.paginate objects="{mediaAlbums}" as="paginatedAlbums" configuration="{itemsPerPage: settings.list.itemsPerPage, insertAbove: settings.pagination.insertAbove, insertBelow: settings.pagination.insertBelow, maximumNumberOfLinks: settings.pagination.maximumNumberOfLinks, pagesBefore: settings.pagination.pagesBefore, pagesAfter:settings.pagination.pagesAfter}">
			<f:if condition="{paginatedAlbums}">
				<f:then>
					<f:for each="{paginatedAlbums}" as="mediaAlbum">
						<f:render section="Album" arguments="{mediaAlbum:mediaAlbum}" />
					</f:for>
				</f:then>
				<f:else>
					<div class="alert alert-info">
						<p><f:translate key="no_albums_found">No items found</f:translate></p>
					</div>
				</f:else>
			</f:if>
		</mf:widget.paginate>
	</div>
</f:section>

<f:section name="Album">
	<div class="thumb">
		<f:link.action action="show" controller="MediaAlbum" arguments="{mediaAlbum : mediaAlbum}">
			<f:image
				image="{mediaAlbum.randomAsset}"
				alt="{mediaAlbum.title}"
				height="{settings.list.thumb.height}c"
				width="{settings.list.thumb.width}c"
				/>
		</f:link.action>
		<h4 class="name">
			<f:link.action action="show" controller="MediaAlbum" arguments="{mediaAlbum : mediaAlbum}">{mediaAlbum.title}</f:link.action>
		</h4>
		<f:if condition="{mediaAlbum.datetime}">
			<div class="date"><f:format.date date="{mediaAlbum.datetime}" format="d.m.Y" /></div>
		</f:if>
		<f:if condition="{mediaAlbum.webdescription}">
			<div class="description"><f:format.crop maxCharacters="17" append="&nbsp;...">{mediaAlbum.webdescription}</f:format.crop></div>
		</f:if>
	</div>
</f:section>

</div>
