<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
	 xmlns:mf="http://typo3.org/ns/MiniFranske/FsMediaGallery/ViewHelpers">

	<f:layout name="Default" />

	<f:section name="main">
		<f:flashMessages />
		<f:if condition="{mediaAlbum}">
			<f:then>
				<div class="album clearfix">
					<f:if condition="{showBackLink}">
						<div class="navigation">
							<f:if condition="{mediaAlbum.parentalbum}">
								<f:then>
									<f:link.action class="btn btn-back" controller="MediaAlbum" arguments="{mediaAlbum:mediaAlbum.parentalbum}"><f:translate id="back_to_%s"  arguments="{0: mediaAlbum.parentalbum.title}">Back to %s</f:translate></f:link.action>
								</f:then>
								<f:else>
									<f:link.action class="btn btn-back" controller="MediaAlbum"><f:translate key="back_to_album">Back to album</f:translate></f:link.action>
								</f:else>
							</f:if>
						</div>
					</f:if>
					<h3>{mediaAlbum.title}</h3>
					<div class="description"><f:format.html>{mediaAlbum.description}</f:format.html></div>
					<f:if condition="{mediaAlbums}">
						<f:then>
							<f:render partial="MediaAlbum/NestedList/AlbumsList" section="AlbumsList" arguments="{mediaAlbums:mediaAlbums}" />
						</f:then>
					</f:if>
					<mf:widget.paginate objects="{mediaAlbum.assets}" as="paginatedAssets" itemsBefore="before" itemsAfter="after" configuration="{itemsPerPage: settings.album.itemsPerPage, insertAbove: settings.pagination.insertAbove, insertBelow: settings.pagination.insertBelow, maximumNumberOfLinks: settings.pagination.maximumNumberOfLinks, pagesBefore: settings.pagination.pagesBefore, pagesAfter:settings.pagination.pagesAfter}">
						<f:if condition="{before}">
							<f:for each="{before}" as="mediaAsset">
								<a href="{f:uri.image(image:mediaAsset)}" rel="albm_{mediaAlbum.uid}" class="lightbox" title="{mf:fileTitle(file:mediaAsset)} - {mediaAlbum.title}">
								</a>
							</f:for>
						</f:if>
						<f:if condition="{paginatedAssets}">
							<f:then>
								<div class="thumbs">
									<f:for each="{paginatedAssets}" as="mediaAsset">
										<f:render partial="MediaAsset/Thumb" section="Thumb" arguments="{mediaGallery:mediaGallery,mediaAlbum:mediaAlbum,mediaAsset:mediaAsset}" />
									</f:for>
								</div>
							</f:then>
							<f:else>
								<div class="alert alert-info">
									<p><f:translate key="no_assets_found">No assets found.</f:translate></p>
								</div>
							</f:else>
						</f:if>
						<f:if condition="{after}">
							<f:for each="{after}" as="mediaAsset">
								<a href="{f:uri.image(image:mediaAsset)}" rel="albm_{mediaAlbum.uid}" class="lightbox" title="{mf:fileTitle(file:mediaAsset)} - {mediaAlbum.title}">
								</a>
							</f:for>
						</f:if>
					</mf:widget.paginate>
					<f:if condition="{showBackLink}">
						<div class="navigation">
							<f:if condition="{mediaAlbum.parentalbum}">
								<f:then>
									<f:link.action class="btn btn-back" controller="MediaAlbum" arguments="{mediaAlbum:mediaAlbum.parentalbum}"><f:translate id="back_to_%s"  arguments="{0: mediaAlbum.parentalbum.title}">Back to %s</f:translate></f:link.action>
								</f:then>
								<f:else>
									<f:link.action class="btn btn-back" controller="MediaAlbum"><f:translate key="back_to_album">Back to album</f:translate></f:link.action>
								</f:else>
							</f:if>
						</div>
					</f:if>
				</div>
			</f:then>
			<f:else>
				<div class="gallery">
					<f:render partial="MediaAlbum/NestedList/AlbumsList" section="AlbumsList" arguments="{mediaAlbums:mediaAlbums}" />
				</div>
			</f:else>
		</f:if>
	</f:section>

</div>