{namespace mf=MiniFranske\FsMediaGallery\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">

<f:flashMessages />

	<div class="item">
		<h1>{mediaAlbum.title}</h1>
		<div class="mediaitem {mediaItem.type}">
			<figure>
			<f:render partial="MediaItem/Image" arguments="{mediaItem:mediaItem,width:settings.image.maxWidth,height:settings.image.maxHeight}" />
				<figcaption>{mf:fileTitle(file:mediaItem)}</figcaption>
			<f:if condition="{mediaItem.property.description}">
				<div class="description"><f:format.html>{mediaItem.property.description}</f:format.html></div>
			</f:if>
			</figure>
		</div>
	</div>

	<div class="navigation">
		<f:link.action class="btn btn-back"	 action="show" controller="MediaAlbum" arguments="{mediaAlbum:mediaAlbum}"><f:translate id="back_to_%s"  arguments="{0: mediaAlbum.title}">Back to %s</f:translate></f:link.action>
	</div>

</f:section>