{namespace mf=MiniFranske\FsMediaGallery\ViewHelpers}

<f:layout name="Default" />


<f:section name="main">

	<f:flashMessages />

	<f:if condition="{mediaAlbum}">
		<f:then>

			<div class="album">

				<f:if condition="{showBackLink}">
					<div class="navigation">
						<f:if condition="{mediaAlbum.parentalbum}">
							<f:then>
								<f:link.action class="btn btn-back" action="show" controller="MediaAlbum" arguments="{mediaAlbum:mediaAlbum.parentalbum}"><f:translate id="back_to_%s"  arguments="{0: mediaAlbum.parentalbum.title}">Back to %s</f:translate></f:link.action>
							</f:then>
							<f:else>
								<f:link.action class="btn btn-back" action="show" controller="MediaAlbum"><f:translate key="back_to_album">Back to album</f:translate></f:link.action>
							</f:else>
						</f:if>
					</div>
				</f:if>

				<h3>{mediaAlbum.title}</h3>
				<div class="description"><f:format.html>{mediaAlbum.description}</f:format.html></div>

				<f:if condition="{mediaAlbum.albums}">
					<f:then>
						<f:render partial="MediaAlbum/ListAlbums" arguments="{mediaAlbums:mediaAlbum.albums}" />
					</f:then>
					<f:else>

						<mf:widget.paginate objects="{mediaAlbum.assets}" as="paginatedAssets" itemsBefore="before" itemsAfter="after" configuration="{itemsPerPage: settings.image.itemsPerPage, insertAbove: settings.pagination.insertAbove, insertBelow: settings.pagination.insertBelow, maximumNumberOfLinks: settings.pagination.maximumNumberOfLinks, pagesBefore: settings.pagination.pagesBefore, pagesAfter:settings.pagination.pagesAfter}">
							<f:if condition="{before}">
								<f:for each="{before}" as="mediaItem">
									<a href="{f:uri.image(image:mediaItem)}" rel="albm_{mediaAlbum.uid}" class="lightbox" title="{mf:fileTitle(file:mediaItem)} - {mediaAlbum.title}">
									</a>
								</f:for>
							</f:if>
							<f:if condition="{paginatedAssets}">
								<f:then>
									<div class="thumbs">
										<f:for each="{paginatedAssets}" as="mediaItem">
											<f:render partial="MediaItem/Thumb" arguments="{mediaGallery:mediaGallery,mediaAlbum:mediaAlbum,mediaItem:mediaItem}" />
										</f:for>
									</div>
								</f:then>
								<f:else>
									<div class="alert alert-info">
										<p><f:translate key="no_assets_found">No items found</f:translate></p>
									</div>
								</f:else>
							</f:if>
							<f:if condition="{after}">
								<f:for each="{after}" as="mediaItem">
									<a href="{f:uri.image(image:mediaItem)}" rel="albm_{mediaAlbum.uid}" class="lightbox" title="{mf:fileTitle(file:mediaItem)} - {mediaAlbum.title}">
									</a>
								</f:for>
							</f:if>

						</mf:widget.paginate>

					</f:else>
				</f:if>


				<f:if condition="{showBackLink}">
					<div class="navigation">
						<f:if condition="{mediaAlbum.parentalbum}">
							<f:then>
								<f:link.action class="btn btn-back" action="show" controller="MediaAlbum" arguments="{mediaAlbum:mediaAlbum.parentalbum}"><f:translate id="back_to_%s"  arguments="{0: mediaAlbum.parentalbum.title}">Back to %s</f:translate></f:link.action>
							</f:then>
							<f:else>
								<f:link.action class="btn btn-back" action="show" controller="MediaAlbum"><f:translate key="back_to_album">Back to album</f:translate></f:link.action>
							</f:else>
						</f:if>
					</div>
				</f:if>

			</div>
		</f:then>
		<f:else>
			<div class="gallery">
				<f:render partial="MediaAlbum/ListAlbums" arguments="{mediaAlbums:mediaAlbums}" />
			</div>
		</f:else>
	</f:if>


</f:section>